<h1><%= @blogger.name %></h1>
<h3>Age: <%= @blogger.age %></h3>
<h3><%= @blogger.bio %></h3>

<h3>Total likes: <%= @blogger.total_likes %></h3>

<h3>Featured post: <%= link_to @blogger.most_likes.title, post_path(@blogger.most_likes) %></h3> 

BONUS A list of that user's top 5 most written about destinations (the destinations with the most posts)