<h1><%= @destination.name %>, <%= @destination.country%></h1>

<% @destination.recent_five.each do |post| %>
  <h4><%= post.title %>
    <br> 
    <%= post.blogger.name %>
  </h4>
  <p><%= post.content %></p>
  <p>Likes: <%= post.likes %></p>
<% end %>

<h2>Most likes: <%= link_to @destination.most_likes.title, post_path(@destination.most_likes) %></h2>

<h2>Average age of bloggers: <%= @destination.average_age %></h2>